
.idea/
.ipynb_checkp
**/__pycache__/

data/
results/
models/
matrix_generation/pseudo_grid_creator/
visualization/graphics/
logging/logs/
environment.yml
explanation/logs/
explanation/runs/
game/game_api/logs/
game/game_api/runs/
game/runs/
logs/logs/
pickup_demand_prediction/catboost_info/
runs/
follow_up_study/


*.npy
*.png
*.ftr
*.pickle
*.DS_Store
*.gif
